<div class="container mt-4">
    <div class="card">
        <div class="card-body">

            <span class="h3">Configuraciones</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/configuracionCreate">Agregar</button>
            <img src="./assets/logo_full.jpg" class="rounded float-end" alt="..." width="90" height="90" style="border-radius: 15px; margin-right: 10px;" />
            <h5 style="margin-top: 30px;" *ngIf="configuraciones.length == 0">No hay datos para mostrar</h5>
            <table *ngIf="configuraciones.length > 0" class="table mt-5 table-striped">
                <thead>
                  <tr>
                    <!-- <th>id_Configuracion</th> -->
                    <th>Configuracion</th>
                    <th>Descripción</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Configuracion of configuraciones">
                    <!-- <td>{{ Configuracion.id_configuracion }}</td> -->
                    <td>{{ Configuracion.configuracion }}</td>
                    <td>{{ Configuracion.descripcion }}</td>
                    <td><i class="fas fa-puzzle-piece fa-lg mr-2" [routerLink]="['/juego',Configuracion.id]" title="Vista previa"></i>
                      <i class="fas fa-plus-circle" [routerLink]="['/partidaCreate']" title="Crear partida"></i>
                        <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/configuracionEdit',Configuracion.id]" title="Editar"></i>
                        <!-- <i (click)="eliminarConfiguracion(Configuracion.id)" class="fas fa-trash-alt fa-lg text-danger" title="Eliminar"></i> -->
                    </td>
                  </tr> 
                </tbody>
              </table>
        </div>
    </div>
</div>
