<div class="container mt-4">
    <ng-container *ngTemplateOutlet="bienvenida ? pantallaInicio : cuestionario"></ng-container>

</div>

<ng-template #pantallaInicio>
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">{{ partida.partida }}</h3>
        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-lg btn-primary mx-auto" (click)="bienvenida = !bienvenida">Empezar!!!</button>
        </div>
    </div>
</ng-template>

<ng-template #cuestionario>
    <div class="card">
      <div class="card-header">
        <h3 class="text-center">{{ partida.partida }}</h3>
      </div>
        <div class="card-body">
            <div *ngIf="preguntas.length > 0">
                <h3 class="text-center">{{ preguntaActual.item }}</h3>
                <h3 class="text-center" *ngIf="tiempoRestante > 0"> Tiempo para responder: {{ tiempoRestante }}</h3>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="respuestas.length > 0">
      <div class="card-body">
        <h3 class="text-primary" *ngIf="tiempoRestante === 0" >La respuesta es:</h3>
          <div *ngFor="let respuesta of respuestas; let i = index;" class="Basic mixed styles example col-12">
            <div *ngIf="!mostrarRespuesta" class="btn col-12"
                [ngClass]="{'btn-primary': i==0 || i==5, 'btn-warning': i==1||i==9, 'btn-success': i==2||i==7,
                'btn-danger': i==3||i==8, 'btn-secondary': i==4||i==6}">
                <span style="font-size:40px;font-weight:bold; text-align: left;">{{i+1}}. </span>
                <label style="font-size:40px;font-weight:bold;">{{ respuesta.item_det }}</label>
            </div>
            <div *ngIf="mostrarRespuesta && respuesta.valor_esperado === 1" class="btn col-12"
              [ngClass]="{'btn-primary': i==0 || i==5, 'btn-warning': i==1||i==9, 'btn-success': i==2||i==7,
              'btn-danger': i==3||i==8, 'btn-secondary': i==4||i==6}">
              <span style="font-size:40px;font-weight:bold; text-align: left;">{{i+1}}. </span>
              <label style="font-size:40px;font-weight:bold;">{{ respuesta.item_det }}</label>
            </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="mostrarRespuesta">
      <div class="card-footer text-center">
        <button type="button" class="btn btn-lg btn-primary mx-auto" (click)="siguientePregunta()">Ir a siguiente pregunta</button>
      </div>
  </div>
</ng-template>
