<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{ titulo }}
                        <div *ngIf="loading" class="spinner-border float right" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                    </h3>
                    <!-- class="badge badge-danger"> -->
                    <span *ngIf="submitted && createItem.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <form class="mt 4" [formGroup]="createItem" (ngSubmit)="agregarEditarItem()">
                        <div class="row">
                            <div class="col">
                                <input type="number" class="form-control form-control-lg" 
                               formControlName="id_item" placeholder="id_item">
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-lg mt 3" 
                                formControlName="id_configuracion" placeholder="id_configuracion">
                            </div>
                        </div>
                        <input type="text" class="form-control form control-lg mt-3"
                        formControlName ="item" placeholder="item"> 
                        <input type="number" class="form-control form control-lg mt-3"
                        formControlName="id_tipo_respuesta" placeholder="id_tipo_respuesta"> 
                        <input type="number" class="form-control forn control-lg mt-3"
                        formControlName="estado" placeholder="estado" >
                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary btn-lg mr-3" routerLink="/item-list">Volver</button>
                            <button type="submit" class="btn btn-dark btn-lg">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>